@charset "utf-8";
/* webfont */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #101010;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 24px;
    color: #101010;
    position: relative;
}

/* wrap */
#wrap {
    min-width: 1360px;
    position: relative;
}

/* 공통 */
.inner{
    width: 1280px;
    margin: 0 auto;
}

/* header */
#header {
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
}

/* .header_scroll했을때, 바뀌는 꾸미기 내용 */
.header_scroll {
    background-color: #fff;
    transition: all 0.5s;
}

.header_scroll .gnb_wrap li:hover a {
    color: #3D5C92;
    border-bottom: 4px solid #3D5C92;
}

/* scroll up-down 바뀌는 꾸미기 내용 */
#header.active {
    transform: translateY(-100%);
}

/* logo */
.logo {
    float: left;
    padding: 30px 0;
}

/* util */
.util {
    float: right;
    margin-top: 50px;
}

.util li {
    float: left;
}

.util li a {
    display: block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 25px;
    color: #666;
}

.util li:nth-child(2) a {
    display: block;
    background: url(../images/header/global_k.png) no-repeat center left;
    padding-left: 20px;
}

.util li:nth-last-child(1) a {
    padding-right: 0;
}

.search {
    display: block;
    width: 22px;
    height: 22px;
    filter: invert(42%) sepia(0%) saturate(58%) hue-rotate(222deg) brightness(93%) contrast(92%);
}


/* gnb */
#gnb {
    height: 110px;
    text-align: center;
}
.nav{
    width: 746px;
    margin: 0 auto;
}
.gnb_wrap {
    display: inline-block;
    margin-top: 30px;
}

.gnb_wrap li {
    float: left;
}

.gnb_wrap li a {
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
}

.gnb_wrap li:hover a {
    border-bottom: 4px solid #3D5C92;
    color: #3D5C92;
}


/* submenu */
.submenu {
    position: absolute;
    top: 98px;
    left: 0;
    z-index: 98;
    width: 100%;
    height: 200px;
    background-color: #F5F7FB;
    padding-top: 20px;
}

.inner_submenu {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.submenu_text ul {
    display: inline-block;
    vertical-align: top;
}

.submenu_text ul li {
    width: 145px;
}

.submenu_text ul li a {
    display: block;
    padding: 11px 10px;
    font-size: 18px;
    font-weight: 500;
}

.submenu_text ul li a:hover {
    font-weight: 600;
}


/* banner */
@keyframes person1{
    0% {
        transform: scale(0) translateY(500px);
    }
    30% {
        transform: scale(0) translateY(200px);
    }
    70%{
        transform: scale(1) translateY(-50px);
    }
    100% {
        transform: scale(1) translate(0);
    }
}
@keyframes person2{
    0% {
        transform: scale(0) translateY(500px);
    }
    30% {
        transform: scale(0) translateY(200px);
    }
    70%{
        transform: scale(1) translateY(-100px);
    }
    100% {
        transform: scale(1) translate(0);
    }
}
@keyframes person3{
    0% {
        transform: scale(0) translateY(500px);
    }
    30% {
        transform: scale(0) translateY(200px);
    }
    70%{
        transform: scale(1) translateY(-80px);
    }
    100% {
        transform: scale(1) translate(0);
    }
}
@keyframes person4{
    0% {
        transform: scale(0) translateY(500px);
    }
    30% {
        transform: scale(0) translateY(200px);
    }
    70%{
        transform: scale(1) translateY(-100px);
    }
    100% {
        transform: scale(1) translate(0);
    }
}
@keyframes person{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translate(15px);
    }
}

#banner{
    width: 100%;
    height: 850px;
    background: url(../images/main/banner/banner_bg.jpg) no-repeat center bottom -120px;
    margin-top: 110px;
}
#banner .inner{
    position: relative;
}
.banner_illust{
    width: 1324px;
    margin: 0 auto;
    text-align: center;
}
.illust{
    display: inline-block;
    vertical-align: middle;
    margin: 350px 60px 0;
}
.illust1{
    animation: person1 1.5s;
}
.illust2{
    animation: person2 1.5s 0.2s;
}
.illust3{
    animation: person3 1.5s;
}
.illust4{
    animation: person4 1.5s 0.1s;
}

/* slogan */
@keyframes slogan {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slogan_box {
    0% {
        opacity: 1;
        transform: scaleX(0);
        transform-origin: left;
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
    }
}

#banner .inner{
    position: relative;
}
.slogan_wrap{
    width: 100%;
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 5;
    margin-left: -662px;
}
.slogan{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5em;
    opacity: 0;
    animation: slogan 1s forwards;
    color: #3D5C92;
}
.slogan1{
    font-size: 55px;
}
.slogan2 {
    color: #fff;
}
.slogan_box {
    width: 337px;
    height: 60px;
    background-color: #3D5C92;
    position: absolute;
    top: 85px;
    left: 542px;
    z-index: -2;
    opacity: 0;
    animation: slogan_box 1.5s 0.2s forwards;
}



/* container 쪽 */
/* ▼ ▼ 공통꾸미기 - 시작 ▼ ▼ */

.title .left_title{
    font-size: 42px;
    color: #fff;
    display: inline-block;
    margin-right: 40px;
}
.title .left_engtitle{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #ccc;
    display: inline-block;
    margin-bottom: 100px;
}
.sub_txt{
    font-size: 22px;
    color: #d9d9d9;
}

.title .center_title{
    font-size: 42px;
    margin-bottom: 30px;
}
.title .center_engtitle{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #aaa;
}

/* ▲ ▲ 공통꾸미기 - 끝 ▲ ▲ */



/* facilities */
#facilities{
    height: 2226px;
    margin: 0 auto;
    position: relative;
}
#facilities .back{
    width: 100%;
    height: 2226px;
    position: absolute;
    top: -140px;
    left: 0;
    z-index: 1;
    background: url(../images/main/facilities/facilities_bg.png) no-repeat center;
}

/* visitor */
.visitor{
    margin: 230px 0 100px;
    height: 650px;
    text-align: center;
}
.visitor h3{
    font-size: 45px;
    color: #fff;
    margin-bottom: 100px;
}
.visitor ul{
    display: inline-block;
    margin: 0 auto;
}
.visitor ul li{
    float: left;
    margin-right: 100px;
}
.visitor ul li:nth-last-child(1) {
    margin-right: 0;
}
.visitor_list{
    color: #fff;
}
.visitor_tt{
    font-size: 26px;
    margin: 25px 0 50px;
}
.count{
    font-size: 70px;
    font-weight: 700;
    color: #EB9128;
}

/* facilities_wrap */
.facilities_wrap .title{
    margin-top: 165px;
}
.facilities_box{
    position: absolute;
    top: -195px;
    left: 0;
    z-index: 9;
}

.fc_photo{
    width: 400px;
    margin-right: 36px;
    display: inline-block;
    vertical-align: middle;
}
.fc_photo1{
    height: 300px;
    position: relative;
}
.fc_photo2{
    height: 630px;
}
.fc_photo3{
    height: 960px;
    margin-right: 0;
}

.fc_photo ul li{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.fc_photo img{
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

/* facilities - cover */
.fc_cover{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: #eb9028b0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
}
.fc_cover_tt{
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin: 80px 0 20px;
}
.fc_cover_eng{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    opacity: 0.7;
}
a.fc_cover_btn{
    display: inline-block;
    padding: 4px 20px;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 40px;
}
.fc_photo ul li:hover .fc_cover{
    opacity: 1;   
}
.fc_photo ul li:hover .hover_blur{
    transform: scale(1.05, 1.05);
    filter: blur(3px);
}
.hover_blur{
    transition: all 0.3s;
}
.fc_cover_btn:hover{
    background-color: #fff;
    color: #EB9128;
    font-weight: 500;
}


/* current */
#current{
    height: 2570px;
    background: url(../images/main/current/current_bg.png) no-repeat center top -200px;
}
.current_wrap{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#current .title{
    text-align: center;
    margin-top: 70px;
    padding-bottom: 150px;
}
#current .title .center_title{
    color: #3D5C92;
}

.section{
    position: relative;
    height: 640px;
    padding-bottom: 150px;
}

.current_txt_left{
    width: 730px;
    height: 450px;
    padding: 80px 0 0 110px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: -66px;
    z-index: 2;
    box-sizing: border-box;
    transition: all 0.5s;
}
.current_txt_right{
    width: 730px;
    height: 450px;
    padding: 80px 0 0 110px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: -66px;
    z-index: 2;
    box-sizing: border-box;
    transition: all 0.5s;
}

.exhibition_tt{
    font-size: 38px;
    font-weight: 700;
    display: inline-block;
}
.now{
    display: inline-block;
    font-size: 20px;
    background-color: #3D5C92;
    color : #fff;
    padding: 3px 15px;
    border-radius: 20px;
    margin-left: 13px;
    transform: translateY(-8px);
}
.exhibition_engtt{
    font-size: 30px;
    color: #ccc;
    margin: 24px 0 50px;
}
.exhibition_subtt{
    font-size: 26px;
    font-weight: 500;
}
.exhibition_date{
    font-size: 23px;
    color: #666;
    margin: 30px 0 40px;
}
.more_btn{
    display: block;
    position: relative;
}
.more_btn a{
    display: block;
    color: #3D5C92;
    font-weight: 600;
}
.btn_circle{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #5e8dde67;
    position: absolute;
    top: -5px;
    left: 58px;
    z-index: 4;
    transition: all 0.3s;
}

.current_txt:hover{
    box-shadow: 0px 7px 30px rgba(0, 0, 0, .2);
    transform: translateY(-15px);
}
.current_txt:hover .btn_circle{
    transform: scale(1.5, 1.5);
}

.current_poster{
    width: 900px;
    height: 550px;
    float: right;
    margin-right: -150px;
}
.current_poster2{
    float: left;
    margin-left: -150px;
}
.current_poster img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

/* current animate - start */
@keyframes marquee {
    from {
        transform: translateX(-20%);
    }
    to {
        transform: translateX(-70%);
    }
}

@media (hover: hover) and (min-width: 700px) {
    .animated-title .content {
        -webkit-transform: translateY(calc(100% - 8rem));
        transform: translateY(calc(100% - 8rem));
    }
}
.animated-title {
    opacity: 0.3;
}
.animated-title .track {
    will-change: transform;
    animation: marquee 30s linear infinite;
}
.track img{
    display: block;
}
/* current animate - end */


/* program */
#program{
    height: 1100px;
    background: url(../images/main/program/program_bg.png) no-repeat center top;
}
#program .title{
    text-align: center;
    padding-top: 230px;
}
#program .title .center_title{
    color: #fff;
    margin-bottom: 50px;
}
.more_program{
    display: block;
    color: #fff;
    font-size: 22px;
    opacity: 0.7;
}
.more_program span{
    display: inline-block;
}
.more_program img{
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}
.more_program:hover{
    opacity: 1;
}

/* program - swiper */
#swiper_cover{
    position: relative;
    height: 660px;
    margin-top: 35px;
    overflow: hidden;
}
.swiper_wrap{
    width: 1920px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -961px;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    overflow: hidden;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 20px;

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    display: flex;
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center; */
    justify-content: center;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; */
    align-items: center;
  }

.text_wrap{
    width: 100%;
    height: 200px;
    padding: 30px;
    text-align: left;
    box-sizing: border-box;
}
.program_tag{
    display: inline-block;
    color: #fff;
    padding: 3px 16px;
    border-radius: 20px;
}
.ex_tag{
    background-color: #3D5C92;
}
.ev_tag{
    background-color: #EB9128;
}
.program_tt{
    font-size: 24px;
    font-weight: 600;
    margin: 14px 0;
}
.program_subtt{
    font-size: 18px;
    font-weight: 500;
    color: #666;
    margin-bottom: 14px;
}
.program_date{
    color: #666;
}
.pg_poster{
    padding-bottom: 360px;
    border-radius: 0 0 20px 20px;
}
.pg_poster1{
    background: url(../images/main/program/s_poster1.jpg) no-repeat center top ;
    background-size: cover;
}
.pg_poster2{
    background: url(../images/main/program/s_poster2.jpg) no-repeat center top -20px;
    background-size: cover;
}
.pg_poster3{
    background: url(../images/main/program/s_poster3.jpg) no-repeat center top;
    background-size: cover;
}
.pg_poster4{
    background: url(../images/main/program/s_poster4.jpg) no-repeat center top -30px;
    background-size: cover;
}
.pg_poster5{
    background: url(../images/main/program/s_poster5.jpg) no-repeat center top -30px;
    background-size: cover;
}
.pg_poster6{
    background: url(../images/main/program/s_poster6.jpg) no-repeat center top;
    background-size: cover;
}
.pg_poster7{
    background: url(../images/main/program/s_poster7.jpg) no-repeat center bottom;
    background-size: cover;
}
.pg_poster8{
    background: url(../images/main/program/s_poster8.jpg) no-repeat center top -30px;
    background-size: cover;
}
.pg_poster9{
    background: url(../images/main/program/s_poster9.jpg) no-repeat center top;
    background-size: cover;
}
.pg_poster10{
    background: url(../images/main/program/s_poster10.jpg) no-repeat center top;
    background-size: cover;
}
.pg_poster11{
    background: url(../images/main/program/s_poster11.jpg) no-repeat center top;
    background-size: cover;
}
.pg_poster12{
    background: url(../images/main/program/s_poster12.jpg) no-repeat center top;
    background-size: cover;
}

.swiper-container-vertical>.swiper-pagination-bullets{
  top: unset !important;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
display : inline-block !important;
margin: 6px 2px !important;
}



/* app_banner */
#app_banner{
    height: 401px;
    background: url(../images/main/banner/app_banner.png) no-repeat center;
}


/* rental */
#rental{
    height: 400px;
    background: url(../images/main/rental/rental_bg.jpg) no-repeat center;
    margin-top: 100px;
}
#rental .inner{
    padding-top: 120px;
}

#rental .title{
    display: block;
    width: 400px;
    float: left;
}
#rental .left_title{
    line-height: 50px;
    margin-bottom: 50px;
}

.more_rental{
    display: block;
    color: #fff;
    font-size: 22px;
    opacity: 0.7;

}.more_rental span{
    display: inline-block;
}
.more_rental img{
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}
.more_rental:hover{
    opacity: 1;
}

/* rental - form */
.form_box{
    width: 800px;
    float: right;
    margin-top: 5px;
}
.input_box{
    float: left;
}
.input_wrap{
    float: left;
    width: 300px;
    height: 26px;
    padding: 8px 15px;
    border: 2px solid #ddd;
    margin-right: 40px;
    border-radius: 8px;
    margin-bottom: 30px;
}
input{
    display: inline-block;
    border: none;
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 0);
}

::placeholder{
    font-size: 18px;
    font-weight: 500;
    color: #ccc;
}
.name{
    width: 90%;
    outline: none;
}
.number{
    width: 90%;
    outline: none;
}
.text{
    width: 90%;
    outline: none;
}

.send_btn a{
    display: inline-block;
    padding: 6px 25px;
    background-color: #EB9128;
    font-weight: 500;
    font-size: 16px;
    color:#fff;
    margin-top: 10px;
}


/* footer */
#footer{
    height: 150px;
    background-color: #3D5C92;
    padding-top: 50px;
}

.f_logo{
    float: left;
    margin-right: 100px;
}
.f_logo img{
    display: block;
}

.footer_txt{
    float: left;
}

.link li{
    float: left;
    margin-bottom: 10px;
}
.link li a{
    color: #fff;
}
.link li::after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 11px;
    background-color: #fff;
    margin: 0 10px;
}
.link li:nth-last-child(1):after{
    width: 0;
}

.footer_txt p{
    clear: both;
    color: #ccc;
}

.sns{
    float: right;
}
.sns li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    opacity: 0.5;
}
.sns li a{
    display: block;
}
.sns li:hover{
    opacity: 1;
}


/* top_btn */
#top_btn{
    position: fixed;
    bottom: 100px;
    right: 5%;
    z-index: 999;
}
#top_btn a{
    display: block;
    width: 50px;
    height: 50px;
    background: #3D5C92 url(../images/About/arrow_up.png) no-repeat center;
    border: 1px solid #fff;
    border-radius: 50%;
}
#top_btn a img{
    display: block;
}